doctype html
html(lang="en")
  head
    title Tolono44i
    link(rel="stylesheet", href="/css/main.css")

  body
    h1 Raise your Tolon!&nbsp;
      img(src='i/bunny.png')
    #container.col
      p.
        Prototype game for ex-LAMODA team

    p.
      pixi engine zone below

    #pixi
      //- canvas#game-canvas(width="512", height="384")


  script(src="js/libs.js")
  script(src="js/pixi.dev.js")
  script(src="js/Far.js")
  script(src="js/Mid.js")
  script(src="js/Scroller.js")
  script(src="js/WallSpritesPool.js")
  script(src="js/SliceType.js")
  script(src="js/Walls.js")
  script(src="js/app.js")
