doctype html
html(lang="en")
  head
    title Tolono44i

  body
    h1 Raise your Tolon!&nbsp;
      img(src='i/bunny.png')
    #container.col
      p.
        Prototype game for ex-LAMODA team

    p.
      pixi engine zone below

    #pixi


  script(src="js/libs.js")
  script(src="js/pixi.dev.js")
  script(src="js/app.js")
